/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background: linear-gradient(90deg, #ff8a00, #ffcb66);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  text-decoration: none;
}

header a {
  text-decoration: none;
  font-weight: bold;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  flex: 1;
}

.user-menu {
display: flex;
}

.user-menu1 {
  position: relative;
  }

.user-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  user-select: none;
}

.user-menu1 > .user-info {
  cursor: pointer;
}

.icon-size {
  display: inline-block;
margin: 0px;
padding: 0;
cursor: pointer;
}

.user-icon {
  font-size: 1.5em;
}

.user-name {
  display: block;
  font-weight: bold;
}

.user-role {
  font-size: 0.5em;
  line-height: 0.3;
  margin-top: 0px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  color: #ffa500;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  width: 150px;
  text-align: left;
}

.user-info:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #ffa500;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 400;
}

.dropdown-menu a:hover {
  background-color: #ffa500;
  color: #fff;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f3f3f3;
  gap: 20px;
}

.filter-item {
  display: grid;
}

.filter-item label {
  font-size: 0.8em;
}

.filter-item input {
  width: 100%;
  padding: 1px;
  border: 1px solid #ffcb66;
  border-radius: 5px;
  background-color: #ffecb3;
  margin-bottom: 20px;
  color: #ff8a00;
  text-align: center;
}

.filter-item input::placeholder {
  color: #ff8a00;
}

.search-button {
  background-color: #ffa500;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 20px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93.8vh;
  background-color: #fffdf4;
}

.process-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 800px;
}

.process-item {
  display: grid;
  grid-template-columns: (repeat(3));
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 5px;
  text-align: start ;
  user-select: none;
}

.process-item:hover {
  background-color: rgb(243, 243, 243);
}

.process-item img {
  justify-self: center;
  width: 20px;
  margin-bottom: 0px;
}

.imagens-flex {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;

}

.imagens-flex button {
  border : none;
  background-color: transparent;
}

.process-item span {
  color: #ffa500;
  font-weight: bold;
}

.process-item .date {
  color: #777;
  position: relative;
  top: -4px;
  font-weight: 400;
  font-size: 0.9em;
}

.add-button {
  user-select: none;
  margin-top: 70px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0 30px;
}

.add-button span {
  font-size: 2em;
  color: #ffa500;
}

.add-button p {
  font-size: 1em;
  background-color: #ffa500;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.container {
  display: grid;
  width: 450px;
  height: auto;
  border: 1px solid #ffa500;
  border-radius: 5px;
  background-color: #fff;
  padding: 30px 0;
}


.user-name::after {
  content: 'Administrador';
  display: block;
  position: relative;
  top: -3px;
  font-size: 0.6em;
  font-weight: 400;
  color: #00265a;
}

.user-name2::after {
  content: 'Lead management';
  display: block;
  position: relative;
  top: -3px;
  font-size: 0.6em;
  font-weight: 400;
  color: #00265a;
}


.user-name3::after {
  content: 'Data Engineer';
  display: block;
  position: relative;
  top: -3px;
  font-size: 0.6em;
  font-weight: 400;
  color: #00265a;
}

.user-name4::after {
  content: 'Product Owner';
  display: block;
  position: relative;
  top: -3px;
  font-size: 0.6em;
  font-weight: 400;
  color: #00265a;
}

.user-name5::after {
  content: 'Scrum Master';
  display: block;
  position: relative;
  top: -3px;
  font-size: 0.6em;
  font-weight: 400;
  color: #00265a;
}

.user-name6::after {
  content: 'Pricing';
  display: block;
  position: relative;
  top: -3px;
  font-size: 0.6em;
  font-weight: 400;
  color: #00265a;
}


.User-New {
  text-decoration: none;
  padding: 3px 40px;
  margin: 15px 60px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 5px;
  text-align: center;
  color: rgb(85, 85, 85);
}

.User-New span {
  color: #ffa500;
  font-size: 1.2em;
  font-weight: bold;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popup-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.popup-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons #confirm-yes {
  background-color: #4caf50;
  color: white;
}

.popup-buttons #confirm-no {
  background-color: #f44336;
  color: white;
}

.hidden {
  display: none;
}


